/***** PHONE 320PX *****/
* {
        margin:  0 auto;
        text-align: center;
    }
    
    .navIntro{
        background-color: #f6f6f6;
        padding-bottom: 40px;
    }
    
    .name {
        padding: 10px 0;
        text-align: center;
        font-family: "Shadows Into Light";
    }
    
    .mainNav {
        text-align: center;
    }
    
    .mainNav ul {
        list-style:  none;
        display: block;
        padding: 0;
    }
    
    .mainNav li {
        max-width:  90%;
        background-color: #ededed;
         color:  #000;
        margin-top: 5px;
        padding: 5px 0;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 900;
    }
    
    
    /***** INTRO *****/   
    .intro p {
        padding: 0 10px;
        font-size: 1em;
    }
    
    .intro img {
        width: 50%;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    img {
    max-width: 90%;
}

    
    /***** PORTFOLIO *****/
    
    .sectionTitle {
        font-family: "Shadows Into Light";
        font-size: .75em;
        width:  100%;
        padding: 20px 0;
        text-transform: uppercase;
    }
    
    .heading {
        margin-top: 30px;
        max-width: 80%;
    }
    
    .heading h3 {
        padding: 20px 0;
    }
    
    h2 {
        margin-top: 40px;
    }
    
    /*****CONTACT******/
    .contact {
        background-color: #f6f6f6;
        padding-top: 10px;
        margin-top: 30px;
        border-bottom: 1px solid #d6d4d4;
        border-bottom-width:  1px;
        display: inline-block;
    }
    
    .contact h1 {
        font-family: "Shadows Into Light";
        font-size: 1em;
        width:  100%;
        padding: 20px 0;
        text-transform: uppercase;
    }
    
    .contact p {
        max-width: 80%;
    }
    
    #phone {
        padding: 10px 0;
    }
    
    #email {
        padding-bottom: 60px;
    }    
    
    /***** FOOTER *****/
    .footer {
        text-transform: uppercase;
        padding: 20px 0;
    }
    
    .footerName {
        float: left;
        padding-left: 30px;
    }
    
    .top {
        float: right;
        padding-right: 30px;
    }


/***** TABLET 768*****/

 @media (min-width: 768px) {
    
    .name {
        font-size: 20px;
    }
        
    .mainNav ul {
       font-size: 20px;
    }
    
    .mainNav li {
        list-style: none;
        display: inline-block;
        padding: 5px 15px;
    }
    
    .intro {
        padding: 0 30px 40px 30px;
        background-color: #f6f6f6;
        display: inline-block;
    }
     
     .intro img {
         float: right;
         width: 35%;
         padding-left: 30px;
     }
     
     .intro p {
         font-size: 1.25em;
         text-align: left;
         margin-top: 30px;
     }
     
     .marketing,
     .travel,
     .photo     {
         float: left;
     }
     
     .marketing,
     .travel,
     .photo img {
         width: 40%;
     }
     
     .search,
     .map,
     .calculator {
         float: right;
     }
     
     .search,
     .map,
     .calculator img {
         width: 40%;
     }
     
} 























